<!--Add Work Experience Modal-->
<div class="modal fade" id="addWorkExperienceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabel">Add a Job</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <%= form_for :profile_experience, url: wizard_path, method: :put do |f| %>
        <%= render partial: 'forms/form_work_experience', locals: { profile_experience: nil, f: f,
                                                                     modal_id: (@profile.profile_experiences.size + 1),
                                                                     profile: profile } %>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: 'profile_steps/date_validation' %>
