<!--Add Family Modal-->
<div class="modal fade" id="addLanguageModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="modalLabel">Add Language</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_for :language, url: wizard_path, method: :put do |f| %>
        <div class="modal-body pt-0">
          <div class="form-group">
            <label for="firstNameInput" class="h5">Language</label>
            <%= f.text_field :lang_know, class: "form-control", id: "firstNameInput" %>
            <label for="secondNameInput" class="h5">Level of Knowlage</label>
            <%= f.text_field :know_level, class: "form-control", id: "secondNameInput" %>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-link px-0 text-dark" data-bs-dismiss="modal">Cancel</button>
            <%= f.submit 'Save', class: 'btn btn-primary' %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
