<div class="container">
  <div class="card mb-5 mx-auto" style="max-width:800px">
    <div class="card-title text-center">
      <div class="h2">
        <%= I18n.t :info_about_family %>
      </div>
    </div>
    <div class="card-body">
      This page in progress now
    </div>
  </div>
</div>
