<div class="w-100">
  <%= render partial: 'shared/about_short', locals: { profile: profile } %>
  <div>
    <p class="text-wrap text-break mt-3 mb-2"><%= profile.professional_summary %></p>
  </div>
</div>
