<!--Add License or Certification Modal-->
<div class="modal fade" id="addLicenseCertificationModal" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="postJobStep1Label">Add Licence or Certification</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_for :profile_certification, url: add_certifications_path do |f| %>
        <%= render partial: 'shared/form_certifications', locals: {profile_certification: nil, f: f} %>
      <% end %>
    </div>
  </div>
</div>

<script>
    $('#selectCertification').on('click', () => {
        $('#customDescriptionCertificate').val('');
    })
</script>
