<div class="modal fade" id="editSkills" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="postJobStep1Label">Edit Skills</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_for :freelancer_profile, url: freelancer_change_skills_path do |f| %>
        <div class="modal-body pt-0">
          <div class="form-group">
            <h5>Skills</h5>
            <div class="w-100">
              <%= f.select :freelancer_real_estate_skills,
                           options_for_select(
                               real_estate_skills,
                               freelancer_profile&.freelancer_real_estate_skills&.map do |skill|
                                 [skill.real_estate_skill.description, skill.real_estate_skill.id]
                               end.flatten
                           ),
                           {}, multiple: true, class: 'select2', required: true %>
            </div>
          </div>
          <script>
            $(function() {
              $('.select2').select2({
                placeholder: 'Select all that apply',
                allowClear: true
              });
            });
          </script>
          <div class="d-flex justify-content-between pt-3">
            <button type="button" class="btn btn-link px-0 invisible"></button>
            <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
