<div class="container mb-3">
  <% if flash[:notice].present? || flash[:alert].present? %>
    <div class="alert alert-<%= flash[:alert].present? ? 'warning' : 'success' %> alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert" style="font-size:1.5rem;">&times;</button>
      <%= flash[:alert].present? ?  flash[:alert].html_safe : flash[:notice].html_safe %>
    </div>
  <% elsif flash[:warning].present? %>
    <div class="alert alert-attention alert-dismissible fade show"><i class="fas fa-exclamation-circle alert-attention-icon"></i>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:warning].html_safe %>
    </div>
  <% end %>
</div>
<style>
  .alert-attention {
      background-color: #fff3cd;
      opacity: 75%;
  }
  .alert-attention-icon {
    color: #A7AA2B;
  }
</style>
<%= render 'shared/hide_success_notice' %>
