<br>
<p style="text-align: center;">Hello,</p>
<p style="text-align: center;">Someone (hopefully you!) submitted a request to reset your password. If it wasn't you, please ignore this message. If it was you, you can reset your password at the below link.</p>
<%= render partial: 'email/button', locals: { button_txt: 'Reset Password Here', url: edit_password_url(@resource, reset_password_token: @token) } %>

